*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url(./image/back.jpg);
    position: absolute;
    font-size: 14px;
    font-family: 'poppins',sans-serif;
    background-repeat: no-repeat;
    line-height: 1.60rem;
}
.container{
    display: flex; 
}
.navbar{
    display: flex;
    padding: 18px;
}
.navbar ul{
    display: flex;
    text-decoration: none ;
}